---
layout: page
title: Privacy
permalink: /privacy/
---


  <h4 class="text-center">Privacy Policy</h4>
  <p>
    Grocer parses your e-receipts from New Seasons Market and from them creates a database of your shopping history. You may forward your receipts to Grocer, or if you use Gmail, you can also grant Grocer permission to perform a bulk import of yoru e-receipts which requires read-access to your gmail account. Grocer will not search your gmail for any other content, nor will it read emails from any other sender. In all cases, Grocer will not share your shopping trips with anyone.
  </p>
  <p>
    Grocer will share individual product information it obtains from your receipts, but always in a manner that is completely decoupled from your identity and shopping history, and solely for the purpose of making Grocer a more valuable tool for all of its users. Presently, product information extracted from your receipts is used in the "smart" list-maker function. If you purchase a product that Grocer has not seen before (or pay a different price for it), Grocer may insert that product and/or new price information into the database used by Grocer's list maker function, but with no user information attached to it. Other people using the list maker will simply have more existing products to choose from in creating their lists.
  </p>
